version: '3.1'
services:
  mariadb:
    image: mariadb:10.7
    ports:
      - 3306:3306
    
    environment:
      - MYSQL_ROOT_PASSWORD=S3cret
      - MYSQL_PASSWORD=An0thrS3crt
      - MYSQL_USER=citizix_user
      - MYSQL_DATABASE=citizix_db

  observatory-service:
    build: ./pythonapi  # path is relative to docker-compose.yml localtion
    volumes:
      - ./pythonapi:/usr/src/app # mount point
    ports:
      - 5001:80  # host:container